In [1]:
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
sns.set_context('talk')

# Don't display too many rows/cols of DataFrames
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

# Round decimals when displaying DataFrames
pd.set_option('precision', 2)

In [3]:
df = pd.read_csv('test_votes.csv')
df

        id   0   1   2   3   4
0   dsdtnl   1   6   7   9  12
1   dsdtlx   1   6   7  11  14
2   dsdq9b  24  25  27  29  30
..     ...  ..  ..  ..  ..  ..
10  dsdu73   1   0   0   0   0
11  dsdw1k   1   6   5   9  10
12  dsdvzw   2   6   6   6   6

[13 rows x 6 columns]

In [7]:
df.mean()

0    11.38
1    13.00
2    13.46
3    15.23
4    16.38
dtype: float64

In [8]:
df.describe()

           0      1      2      3      4
count  13.00  13.00  13.00  13.00  13.00
mean   11.38  13.00  13.46  15.23  16.38
std    11.10  10.24  10.79  10.83  11.11
...      ...    ...    ...    ...    ...
50%     8.00   8.00   8.00  11.00  14.00
75%    19.00  19.00  20.00  21.00  22.00
max    34.00  35.00  36.00  38.00  39.00

[8 rows x 5 columns]

In [9]:
import praw

In [11]:
reddit = praw.Reddit(client_id='eOqj6Q2BiQQyKQ', client_secret='1hqeAwOvlkY1PYw51ewhbrItd5k', user_agent='Reddit WebScrapping')
sub = reddit.subreddit('funny')